@mixin textField() {
  color: #fff;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 0.125rem solid #55565a;
  background-color: #1e1f22 !important;
  outline: none;
  &:focus {
    color: #fff;
    border-color: $accentColor !important;
  }
}

@mixin selectField() {
  appearance: none;
  color: #fff;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 0.25rem;
  border: 0.125rem solid #55565a;
  background-color: #1e1f22;
  outline: none;
  &:focus {
    border-color: $accentColor;
  }
  option {
    font-weight: normal;
    border: none;
    outline: none;
  }
}

@mixin submitButton {
  background-color: $accentColor;
  color: white;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-radius: 0.25rem;
  float: right;
  cursor: pointer;
  &:hover {
    background-color: darken($accentColor, 10%);
  }
}
