@mixin mainHeader {
}

.template-main-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 25.75em 4.25em minmax(15em, auto);
}

@import "./mainContent/buttonPads";
@import "./mainContent/buttonPadForm";
@import "./mainContent/actionList";
@import "./mainContent/optionHeader";
