$leftMenuTransitionSpeed: 0.7s;

.sidebar-section {
  border-top: 0.0625em solid #333;
  // margin: 0.5em 0.5em 1.25em;
  width: 100%;
}

.menu-item {
  font-size: 0.75em;
  border-bottom: 0.0625em solid #111;
  background-color: transparentize(#1e1f22, 0.15);
  overflow: hidden;
  transition: height 0.75s;
  &.child-item {
    .menu-item-button {
      padding-left: 1.25em;
      i {
        margin-right: 0.5em;
      }
    }
  }

  .menu-item-button {
    font-weight: bold;
    line-height: 1.9em;
    height: 2em;
    cursor: pointer;
    border-left: 0.125em solid transparent;
    padding: 0.125em 0.5em;
    text-transform: uppercase;
    transition: background-color $leftMenuTransitionSpeed;
    border-left: 0.25em solid transparent;
    display: grid;
    grid-template-columns: auto 1em 1em;
    grid-column-gap: 0.5em;
    &.menu-item-header {
      grid-template-columns: 1em auto 1em;
      grid-column-gap: 0.5em;
    }

    > .menu-item-button-text {
      min-width: 8em;
      width: calc(100% - 3em);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    > .menu-item-button-edit,
    .menu-item-button-emove {
      opacity: 0;
      text-align: right;
      color: #999;
      &:hover {
        color: #eee;
      }
    }

    &:hover {
      > .menu-item-button-edit,
      > .menu-item-button-emove {
        opacity: 0.5;
      }
    }
  }

  &.menu-item-active {
    .menu-item-button {
      border-left-color: darken($accentColor, 30);
      background-color: $accentColor;
      > .menu-item-button-edit,
      > .menu-item-button-emove {
        color: #fff;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &.menu-item-search-holder {
    height: 2.5em;
    // border-bottom: none;
    > .menu-item-search {
      width: 100%;
      padding: 0.5em 0.5em;
      .menu-item-search-input {
        width: 100%;
        height: 1.5em;
        color: #eee;
        padding: 0.25em;
        border-radius: 0.35em;
        border: 0.125em solid #55565a;
        background-color: #1e1f22;
        outline: none;
        &:focus {
          border-color: $accentColor;
        }
      }
    }
  }
}

.menu-item-information {
  font-size: 0.75em;
  width: 100%;
  height: 0;
  background-color: #1e1f22;
  overflow: hidden;
  transition: height $leftMenuTransitionSpeed ease-in-out;
  &.menu-item-information-active {
    height: 11.25em;
  }
  > .menu-item-infomation-inner {
    padding: 0.5em;

    > input[type="text"] {
      @include textField();
      padding: 0.375em;
      margin-bottom: 0.75em;
    }

    > select {
      @include selectField();
      padding: 0.375em;
      margin-bottom: 0.75em;
    }

    > .menu-item-information-submit {
      @include submitButton();
      padding: 0.375em;
      width: 100%;
      margin: 0;
    }
  }
}

.menu-item-right-children {
  height: 0;
  overflow: hidden;
  transition: $leftMenuTransitionSpeed ease-in-out;
  &.menu-item-right-children-active {
    height: auto;
  }
}
