.profile-header-wrapper {
  width: 100%;
  height: 5em;
  display: grid;
  grid-template-rows: 2em 3em;
  font-size: 0.75em;
  overflow: hidden;
  background-color: white;
  border-bottom: 0.0625em solid #111;
  background-color: transparentize(#1e1f22, 0.15);
  > .profile-header {
    height: 2em;
    display: grid;
    grid-template-columns: 1.5em auto 1.5em;
    align-items: center;
    border-bottom: 0.0625em solid #111;
    background-color: transparentize(#1e1f22, 0.15);
    box-shadow: 0 0.625em 1.125em #111;
    > .icon {
      text-align: center;
      color: #aaa;
      padding-top: 0.125em;
      font-size: 1em;
      &.suffix-icon {
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
  > .profile-search-wrapper {
    height: auto;
  }
}
