.profile-header-wrapper {
  width: 100%;
  height: 5rem;
  display: grid;
  grid-template-rows: 2rem 3rem;
  font-size: 0.75rem;
  overflow: hidden;
  background-color: white;
  border-bottom: 0.0625rem solid #111;
  background-color: transparentize(#1e1f22, 0.15);
  > .profile-header {
    height: 2rem;
    display: grid;
    grid-template-columns: 1.5rem auto 1.5rem;
    align-items: center;
    border-bottom: 0.0625rem solid #111;
    background-color: transparentize(#1e1f22, 0.15);
    box-shadow: 0 0.625rem 1.125rem #111;
    > .icon {
      text-align: center;
      color: #aaa;
      padding-top: 0.125rem;
      font-size: 1rem;
      &.suffix-icon {
        cursor: pointer;
        &:hover {
          color: white;
        }
      }
    }
  }
  > .profile-search-wrapper {
    height: auto;
  }
}
