html {
  user-select: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: $pageBgColor;
  overflow: hidden;
  background-image: url("../images/black_mamba.png");
}

.App {
  font-size: 16px;
}

@mixin sectionDefaults() {
  height: 100%;
  width: 100%;
  border-bottom: 0.125em solid $accentColor;
  background-color: rgba($sectionBgColor, 0.3);
  overflow: hidden;
  padding: 0.5em;
}

.application-template-wrapper {
  height: calc(100vh - 4em);
  width: $applicationWidth;
  margin: 0.5em auto;
  display: grid;
  grid-template-columns: 0.5em $sideBarLeftWidth 1em $mainContentWidth 0.5em;

  .template-side-bar-left,
  .template-main-content {
    // transition: width 0.75s;
    @include sectionDefaults();
  }

  .template-side-bar-left {
    // border-left: 0.5em solid transparent;
  }

  .template-main-content {
    // border-right: 0.5em solid red;
  }
}
