html {
  font: $fontSize;
  user-select: none;
}

@media only screen and (min-width: 2900px) {
  html {
    font-size: $fontSize * 2;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  background-color: $pageBgColor;
  overflow: hidden;
  background-image: url("../images/black_mamba.png");
}

@mixin sectionDefaults() {
  height: 100%;
  width: 100%;
  border-bottom: 0.125rem solid $accentColor;
  background-color: rgba($sectionBgColor, 0.3);
  overflow: hidden;
  padding: 0.5rem;
}

.application-template-wrapper {
  height: calc(100vh - 4rem);
  width: $applicationWidth;
  margin: 0.5rem auto;
  display: grid;
  grid-template-columns: 0.5rem $sideBarLeftWidth 1rem $mainContentWidth 0.5rem;

  .template-side-bar-left,
  .template-main-content {
    // transition: width 0.75s;
    @include sectionDefaults();
  }

  .template-side-bar-left {
    // border-left: 0.5rem solid transparent;
  }

  .template-main-content {
    // border-right: 0.5rem solid red;
  }
}
