$fontSize: 16px;

$pageBgColor: #131416;
$sectionBgColor: #2b2d30;
$accentColor: #f542e9;
$fontPrimaryColor: #fff;
$borderColor: #111;

$wrapperMarginTop: 1em;
$largeWidthAddition: 5em;

$applicationWidth: 80em;

$sideBarLeftWidth: 15em;
$sideBarLeftWidthLarge: $sideBarLeftWidth + $largeWidthAddition;

$mainContentWidth: 63em;

$mainContentFormHeight: 10em;
