.action-list-wrapper {
  width: 100%;
  padding: 0.5em 0.25em 0.5em 0.25em;
  height: $mainContentFormHeight;
  background-color: #171717;

  ::-webkit-scrollbar {
    width: 0.625em;
  }

  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }

  ::-webkit-scrollbar-thumb {
    background: #373737;
  }
}

.action-list-wrapper-scroll {
  height: calc(100% - 1em);
  overflow-y: scroll;
  overflow-x: hidden;
}

.action-list-ul {
  li {
    display: grid;
    width: calc(100% - 0.25em);
    grid-template-columns: auto 1.5em;
    padding: 0.25em 0.75em 0.25em 0.5em;
    border-bottom: 0.0625em solid #212121;
    align-items: center;
    transition: background-color 0.5s;
    &:hover {
      background-color: #282828;
      background-image: linear-gradient(to right, #282828, #171717);
    }
    &:last-child {
      border-bottom: 0;
    }
    &.active {
      background-image: linear-gradient(to right, $accentColor, #171717);
    }
    button {
      @include submitButton();
      height: 1.375em;
      margin: 0;
      padding: 0;
      border-radius: 0.125em;
      font-size: 1em;
      align-items: center;
    }
    span {
      font-size: 0.75em;
    }
  }
}

.action-list-button {
  @include submitButton();

  padding: 0.25em 0.5em;
  margin: 0.5em 0 0 0;
  border-radius: 0.125em;
  font-size: 0.75em;
  height: 1.5em;
  min-height: 24px;

  min-width: 60px;

  &:focus {
    display: none;
  }
}
