.button-pad-wrapper {
  display: grid;
  grid-template-columns: repeat(8, minmax(7em, 1fr));
  grid-gap: 0.5em;
  overflow: hidden;

  .button-pad {
    min-width: 7em;
    min-height: 6em;
    background-color: rgba(#6d6d6d, 0.3);
    .button-pad-inner {
      transition: border-bottom-color 0.5s;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 0.25em;
      border-bottom: 0.125em transparent solid;
      &.active {
        border-bottom-color: $accentColor;
      }
    }
  }
}

.button-pad-wrapper .button-pad .button-pad-inner {
  > div {
    position: absolute;
  }
  .button-option-icon {
    display: grid;
    justify-content: center;
    align-items: center;
    color: darken($fontPrimaryColor, 54.5%);
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.75s;
    z-index: 500;
    &:hover {
      color: $fontPrimaryColor;
      background-color: $accentColor;
    }
    &.icon-edit {
      top: 0em;
      right: 0.25em;
      border-radius: 0 0 50% 50%;
    }
    &.icon-close {
      top: 2em;
      right: 0.25em;
      border-radius: 50%;
    }
  }

  .button-text {
    font-size: 0.75em;
    min-height: 1.25em;
    left: 0.25em;
    right: 0.25em;
    bottom: 0.25em;
    text-align: center;
    z-index: 190;
    text-overflow: ellipsis;
  }

  .button-icon {
    font-size: 2.5em;
    top: 0.5em;
    left: 0.25em;
    right: 0.25em;
    bottom: 0.25em;
    text-align: center;
    z-index: 180;
  }

  .button-bg-image {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 170;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .button-test-link {
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 250;
    height: 100%;
  }
}

.emptyButtonPad {
  cursor: pointer;
  display: grid;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #444;
  transition: color 0.75s;
  &:hover {
    color: #555;
  }
}
